
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #3498db;
  }

header h1 {
    font-size: 64px;
    color: white;
    padding-left: 32px;
    flex: 1;
}

nav {
    display: flex; 
    flex-direction: row;
}

nav ul {
    display: flex; 
    flex-direction: row;
    gap: 16px;
}

nav ul li {
    list-style-type: none;
}

#Content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

aside {
  position: relative;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  border-left: 1px solid grey;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 64px;
  padding-right: 64px;
}

#face {
  position: absolute; /* New! */
  top: 0;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Fix horizontal centering */
  height: 200px;
  animation: moveDownUp 3s infinite alternate linear;
}

/* Animate from top: 0 to top: 100% */
@keyframes moveDownUp {
  0% {
    top: 0;
  }
  100% {
    top: calc(100% - 200px); /* Move to bottom minus the image height */
  }
}

#selectedProjects {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey ;
}

.projectHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.project {
  display: flex;
  flex-direction: column;
}

.projectPhoto {
width: 100px;
height: 100px;
}

.projectDesc {
  display: flex;
  flex-direction: row;
  gap: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.3s ease;
}

#contactForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.formField {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

@media (max-width: 768px) {
  aside {
    display: none;
  }

  header {
    padding: 16px;
  }

  header img {
    width: 100px;
  }

  header h1 {
    font-size: 24px;
    padding-left: 16px;
  }

  nav ul {
    gap: 12px;
    padding-left: 24px;
  }

  main {
    padding: 16px;
    width: 100%;
  }
}